body {
  background-color: aliceblue;
}
h1 {
  text-align: center;
}

.grid-layout {
  display: grid;
  grid-template-columns: 20% auto auto auto;
  grid-template-rows: auto;
  justify-content: stretch;

  background-color: brown;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

.caja {
  /* width: 150px;
  height: 150px; */
  background-color: blueviolet;
  border: 1px solid black;
  margin: 15px;
  text-align: left;
  /* line-height: 150px; */
}

.c1 {
  grid-column: 1/5;
}
.c2 {
  grid-row: 2/4;
}
.c2 img {
  width: 50%;
}
.c3 {
  width: 100%;
  grid-column: 2/5;
}
